/* simulate LIGHT FX */ 
.game-layer[layer="world"]::before {
  background-image: inherit;
  content: '';
  position: absolute;
  left: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: inherit;
  background-position: inherit;
  mask: radial-gradient(circle, transparent 100px, #fff6 200px, white 400px) luminance;
  mix-blend-mode: hard-light;
  opacity: .5;
  z-index: 11;
  filter: saturate(1.1) brightness(0.3);
}

/* simulate night? */ 
.game-layer[layer="world"]::after {
  content: '';
  background-image: url('../img/noise-33.png');
  left: 0px;
  background-position: inherit;
  top: 0px;
  z-index: 0;
  mask-mode: luminance;
  right: 0px;
  bottom: 0px;
  
}