html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	background-color: #1B8433;
	background-size: 200%;
	position: relative;
	perspective: 60vh;
	overflow: hidden;
	transform: scale(1);
	transition: transform 5s, background-color 1s;
}

body::after {
	display: block;
	position: absolute;
	content:'';
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 100px 10px black;
	opacity: 0;
	transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1);
	pointer-events: none;
}

body[race-start]::after {
	opacity: 1;
}

body.interlagos {
	background-color: #2EAD4B; 
}

body.hockenheim {
	background-color: #009666;
}
body.sochi {
	background-color: #e3f2fd;
}
body.abu-dhabi {
	background-color: #ffc107;
}

output {
	background: rgba(0,0,0,0.5);
	border-radius: 50%;
	height: 200px;
	width: 200px;
	position: absolute;
	bottom: -70px;
	left: calc(50% - 100px);
	overflow: hidden;
	opacity: 0;
	transition: all 1s 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body[race-start] output {
	opacity: 1;
}

.inpits output {
	transform: scale(1.5) translateY(-5%);
} 

.inpits.pitbox output {
	transform: scale(2) translateY(-10%);
} 

output#speedometer:before {
	content: attr(data-speed);
	position: absolute;
	top: 106px;
	left: 46%;
}

output .needle {
	position: absolute;
	z-index: 100;
	color: white;
	font-family: sans-serif;
	bottom: 100px;
	left: calc(50% - 80px);
	height: 2px;
	background-color: white;
	width: 80px;
	transform-origin: right;
	transition: transform .15s, background-color 1s;
}

.needle:after {
	content: attr(data-gauge-type);
	color: #888;
	display: block;
	background-color: #212223;
	height: 15px;
	width: 15px;
	text-align: center;
	font-size: x-small;
	border-radius: 50%;
	margin-top: -.5em;
	margin-left: 90%;
	position: relative;
}

.needle.fuel {
	width: 40px;
	left: 55%;
	top: 6em;
}

output[data-fuel^="0"] .needle.fuel,
output[data-fuel^="1"] .needle.fuel,
output[data-speed^="19"] .needle.speed {
	background-color: red;
}

output[data-speed^="18"] .needle.speed {
	background-color: rgb(255, 115, 0);
}

output[data-speed^="17"] .needle.speed,
output[data-fuel^="2"] .needle.fuel,
output[data-fuel^="3"] .needle.fuel {
	background-color: rgb(241, 186, 166);
}


.help {
	position: relative;
}

dt {
	display: inline;
}

dd {
	display: inline;
	margin-left: 10px;
	margin-right: 20px;
}

.game-container {
	height: 100vh;
}

body[race-start] .game-container {}

.game-container::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url('../img/noise.png');
	z-index: 2;
	mask: radial-gradient(black 50%, grey 75%, white 120%) luminance;
	opacity: .05;
	transition: opacity 10s 10s;
    background-size: 100%;
    background-position: center;
}

.offtrack .game-container::after {
	/* mask: radial-gradient(black 20%, white 100%) luminance; */
	opacity: .95;
	transition: opacity 2s;
	background-image: url('../img/noise.png'), url('../noise.png');
    background-size: 400%, 100%;
}


#game {
	min-width: 800px;
	min-height: 600px;
	display: block;
	margin: 0 auto;
	transform: scale(.95);
	opacity: 0;
	transition: opacity 2s .5s, transform 2.5s .5s, box-shadow 2s 4s;
	background-image: url('../img/noise-33.png');
}

#debugsnapshot, 
.trackmap {
    position: absolute;
    right: 1em;
    bottom: 1em;
    background: #0004;
    width: 20em;
	filter: grayscale(1);
}

#debugsnapshot {
	display: none;
}

#minimap {
	/* width: 10vw;
	height: 10vh; */
	width: 320px;
	height: 320px;
	position: absolute;
	bottom: 0;
	overflow: hidden;
	border-radius: 50%;
	opacity: 0;
}

.blip {
	display: block;
	width: 30px;
	height: 15px;
	background: url("../img/porsche-1.png") no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	border-radius: 10%;
	left: 50%;
	top: 50%;
	transition: transform .1s;
}

#minimap .track {
	height: 100%;
	width: 100%;
	mask: radial-gradient(white 15%, black 65%) luminance center 100% no-repeat;
}

#minimap img {
	width: 1120px;
	height: 1120px;
	left: calc(-560px + 160px);
	top: calc(-560px + 160px);
	position: absolute;
}

.laptimes {
	padding: 1ex 0;
	position: fixed;
	top: 0;
	right: 1ex;
	list-style: none;
	width: 10em;
	transform: translateX(11em);
	transition: all .5s;
	opacity: 0;
	box-sizing: border-box;
	background: rgba(0,0,0,.3);
	font-size: 2em;
}

.laptimes .laps:after {
	content: '' attr(fps) 'fps';
	position: absolute;
	left: 1ex;
	opacity: .25;
}

.laptimes li {
	clear: left;
	padding: 0 1ex;
	text-transform: uppercase;
	transition: color .5s;
	position: relative;
}

.laps:before {content: "lap ";}
.best, .last {
	text-align: right;
	transition: color 2.5s 5s;
}
.best:before,
.last:before {float: left; }
.best:before {content: "best ";}
.last:before {content: "last ";}

.laps {
	text-align: right;
}

.pb {
	color: #00ff00;
	transition: color .25s;
}

body[unresolved] #minimap {
	transform: translateX(-311px);
}

body[unresolved] output {
	opacity: 0;
}

input[type=range] {
	display: none;
}
input.accelerator {
	width: 75vh;
	transform: rotateZ(90deg);
}
