html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	background-color: #1B8433;
	background-color: #2EAD4B; 
	/* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.61) 10%, transparent 50%); */
	perspective: 750px;
	overflow: hidden;
	transform: scale(1);
	transition: transform 5s, background-color 1s;
}

body.barcelona {

}

body.interlagos {
	background-color: #2EAD4B; 
}

body.hockenheim {
	background-color: #009666;
}
body.sochi {
	background-color: #e3f2fd;
}
body.abu-dhabi {
	background-color: #ffc107;
}

output {
	background: rgba(0,0,0,0.5);
	border-radius: 50%;
	height: 200px;
	width: 200px;
	position: absolute;
	bottom: -70px;
	left: calc(50% - 100px);
	overflow: hidden;
	opacity: 1;
	transition: opacity 1s 1s;
	display: none;
}

output .needle {
	position: absolute;
	z-index: 100;
	color: white;
	font-family: sans-serif;
	bottom: 100px;
	left: calc(50% - 80px);
	height: 2px;
	background-color: white;
	width: 80px;
	transform-origin: right;
	transition: transform .15s;
}

.needle:after {
	content: "";
	display: block;
	background-color: red;
	height: 1em;
	width: 1em;
	border-radius: 50%;
	margin-top: -.5em;
	margin-left: 70px;
}

output#speedometer:before {
	content: attr(data-speed);
	position: absolute;
	top: 106px;
	left: 46%;
}

.help {
	position: relative;
}

dt {
	display: inline;
}

dd {
	display: inline;
	margin-left: 10px;
	margin-right: 20px;
}

#game {
	min-width: 800px;
	min-height: 600px;
	display: block;
	margin: 0 auto;
	transform: scale(1.5);
	opacity: 0;
	transition: opacity 2s .5s, transform 2.5s .5s, box-shadow 2s 4s;
}

#minimap {
	width: 311px;
	height: 162px;
	/*background-image: url(../img/track.svg);*/
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
	transition: all .5s 2s;
}

.blip {
	display: block;
	width: 5px;
	height: 5px;
	background: white;
	position: absolute;
	border-radius: 50%;
	left: 50%;
	top: 95%;
	transition: transform .5s;
}

.laptimes {
	padding: 1ex 0;
	position: fixed;
	top: 0;
	right: 1ex;
	list-style: none;
	width: 10em;
	transform: translateX(11em);
	transition: all .5s;
	opacity: 0;
	box-sizing: border-box;
	background: rgba(0,0,0,.3);
}

.laptimes li {
	clear: left;
	padding: 0 1ex;
	text-transform: uppercase;
	transition: color .5s;
}

.laps:before {content: "lap ";}
.best, .last {
	text-align: right;
	transition: color 2.5s 5s;
}
.best:before,
.last:before {float: left; }
.best:before {content: "best ";}
.last:before {content: "last ";}

.laps {
	text-align: right;
}

.pb {
	color: #00ff00;
	transition: color .25s;
}

body[unresolved] #minimap {
	transform: translateX(-311px);
}

body[unresolved] output {
	opacity: 0;
}

input[type=range] {
	display: none;
}
input.accelerator {
	width: 75vh;
	transform: rotateZ(90deg);
}
