body {
	perspective: 900px;
	padding: 0;
	margin: 0;
	position: relative;
	background: black;
	height: 100vh;
	font-family: "Racing Sans One", sans-serif;
	color: white;
}
output {
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: -70px;
    left: calc(50% - 100px);
    overflow: hidden;
}

output .needle {
    position: absolute;
    z-index: 100;
    color: white;
    font-family: sans-serif;
    bottom: 100px;
    left: calc(50% - 80px);
    height: 2px;
    overflow: hidden;
    background-color: white;
    width: 80px;
    transform-origin: right;
}

.help {
	position: relative;
}

dt {
	display: inline;
}
dd {
    display: inline;
    margin-left: 10px;
    margin-right: 20px;
}

#menu {
    position: absolute;
    z-index: 20;
    width: calc(100% - 4em);
    background-color: rgba(0,0,0,0.7);
    top: 2em;
    bottom: 2em;
    left: 2em;
    transition: all .5s;
}

#menu.closed { 
	opacity: 0;
	transform: translateY(-100vh);
}

#menu h1 {
	text-align: center;
}

#menu ul {
	list-style: none;
	text-align: center;
}
#menu ul li {
	display: inline-block;
}

#menu ul label {
	cursor: pointer;
}

#menu ul input {
	opacity: 0;
}

#menu ul input ~ span {
	display: block;
	height: 130px;
	width: 210px;
	position: relative;
	background-position: -60px -27px;
	background-size: 250px;
	-webkit-filter: grayscale(1);
	transform: scale(0.8);
	transition: all .7s;

}

#menu ul input:checked ~ span {
	-webkit-filter: grayscale(0);
	transform: scale(1);
}

#menu ul input:checked ~ span:after {
    content: "";
    display: block;
    background-color: transparent;
    height: 20px;
    width: 20px;
    border: 1px solid white;
    transform: rotateZ(45deg);
    border-bottom: 0;
    border-right: 0;
    position: absolute;
    top: 110px;
    left: 60px;
}

input[value="porsche"] ~ span {
    background-image: url(../img/porsche-0.png);
}

input[value="lamborghini"] ~ span {
    background-image: url(../img/lamborghini-0.png);
}

#menu button {
	display: block;
	padding: 1em;
	border-radius: .5em;
	margin: 0 auto;
}

#game {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	
	display: block;
	margin: 0 auto;
	
	box-shadow: inset 0 0 100px 10px black;
	transform: scale(1);
	transition: opacity 2s .5s, transform 2.5s .5s;
	background: rgb(37,73,0);
	/*
	background: #919293 url(../img/hpr-track-map-large.gif);
	background-position-y: 0;
	background-size: 2500%;
	*/
}

#minimap {
	width: 311px;
	height: 162px;
	background: url(../img/track.svg) no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
	transition: all .5s 2s;
}

.blip {
	display: block;
	width: 5px;
	height: 5px;
	background: white;
	position: absolute;
	border-radius: 50%;
	left: 50%;
	top: 70%;
	transition: transform .5s;
}

.laptimes {
	position: fixed;
	top: 0;
	right: 1ex;
	list-style: none;
	width: 10em;
}

.laptimes li {text-transform: uppercase; clear: left;}
.laps:before {content: "lap ";}
.best, .last {
	text-align: right;
}
.best:before,
.last:before {float: left; }
.best:before {content: "best ";}
.last:before {content: "last ";}

body[unresolved] #game {
	opacity: 0.5;
	transform: rotateX(45deg) rotateZ(180deg) scale(2);
}

body[unresolved] #minimap {
	transform: translateX(-311px);
}
input[type=range] {
	display: none;
}
input.accelerator {
	width: 75vh;	
	transform: rotateZ(90deg);
}
